*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .base {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
 }

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px grey solid;

  > * {
    padding: 10px;
  }
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .login-container {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .tasks-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;

    .tasks-column {
      margin: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 1px black solid;
      border-radius: 20px;

      .task {
        position: relative;
        width: 300px;
        max-width: 100%;
        margin: 10px;
        padding: 20px;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
      
        .delete-task {
          position: absolute;
          top: 5px;
          right: 5%;
          background-color: #e0e0e0;
          border: none;
          padding: 5px 9px;
          font-size: 1em;
          cursor: pointer;
          border-radius: 4px;
          transition: background-color 0.3s ease;
      
          &:hover {
            background-color: #c0c0c0;
          }
        }

        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        

        h1 {
          font-size: 1.5em;
          margin-bottom: 10px;
        }
      
        p {
          margin-bottom: 20px;
        }
      }
    }
  }


  .blur {
    filter: blur(2px);
  }
  
  .create-task-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .create-task-modal label {
    display: block;
    margin-bottom: 10px;
  }
  
  .create-task-modal input, .create-task-modal textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
}

button {
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 15px;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

input {
  padding: 10px;
}