*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .base {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
 }

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px grey solid;

  > * {
    padding: 10px;
  }
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .login-container {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .tasks-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    .tasks-column {
      margin: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 1px black solid;
      border-radius: 20px;

      .task {
        min-height: 200px;
        width: 300px;
        border: 1px solid black;
        border-radius: 15px;
        margin: 10px;
        padding: 5px;
      }
    }
  }
}

button {
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 15px;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

input {
  padding: 10px;
}